<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="print" class="print.Print" abstract="true" scope="prototype">
        <property name="dayOfWeek" value="TUESDAY"/>
        <property name="weekends">
            <list>
                <value>SUNDAY</value>
                <value>FRIDAY</value>
            </list>
        </property>
        <property name="today">
            <bean class="java.time.LocalDate">
                <constructor-arg index="0" value="2014"/>
                <constructor-arg index="1" value="6"/>
                <constructor-arg index="2" value="1"/>
            </bean>
        </property>
    </bean>
    <bean id="console" class="print.PrintInConsole" parent="print">
    </bean>
    <bean id="web" class="print.PrintInWeb" parent="print">
    </bean>
</beans>